<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DateKniht</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container gradient">
      <div class="row">
        <div class="col-md-12 header">
          <center><img src="images/dateknight-logo.png" alt="DateKnight" width="80%" /></center>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-8 body">
          <form action="/results" method="post">
            <center>
            <label for="sentence">Zip Code</label>
            <input type="number" name="zipCode" min="210" max="99950" required class="black-text"><br><br>
            <label for="date">Date</label>
            <input type="date" name="date" class="black-text"><br><br>
            <p class="question">Food Type</p>
            <input type="radio" name="category" value="delis">  <label for="q1b">Delis</label><br/>
            <input type="radio" name="category" value="pizza">  <label for="q1c">Pizza</label><br/>
            <input type="radio" name="category" value="italian">  <label for="q1d">Italian</label><br/>
            <input type="radio" name="category" value="tradamerican">  <label for="q1d">Traditional American</label><br/>
            <input type="radio" name="category" value="sandwiches">  <label for="q1d">Sandwiches</label><br/>
            <input type="radio" name="category" value="newamerican">  <label for="q1d">New American</label><br/>
            <input type="radio" name="category" value="nightlife">  <label for="q1d">Nightlife</label><br/>
            <input type="radio" name="category" value="bars">  <label for="q1d">Bars</label><br/>
            <input type="radio" name="category" value="mexican">  <label for="q1d">Mexican</label><br/>
            <input type="radio" name="category" value="seafood">  <label for="q1d">Seafood</label><br/>
            <input type="radio" name="category" value="cafes">  <label for="q1d">Cafes</label><br/>
            <input type="radio" name="category" value="chinese">  <label for="q1d">Chinese</label><br/>
            <input type="radio" name="category" value="latin">  <label for="q1d">Latin</label><br/>
            <input type="radio" name="category" value="salad"> <label for="q1d">Salad</label><br/>
            <input type="radio" name="category" value="sushi">  <label for="q1d">Sushi</label><br/>
            <input type="radio" name="category" value="burgers">  <label for="q1d">Burgers</label><br/>
            <input type="radio" name="category" value="japanese">  <label for="q1d">Japanese</label><br/>
            <input type="radio" name="category" value="asianfusion">  <label for="q1d">Asian Fusion</label><br/>
            <input type="radio" name="category" value="diners">  <label for="q1d">Diners</label><br/>
            <input type="radio" name="category" value="gourmet">  <label for="q1d">Specialty Foods</label><br/>
              <input type="submit" name="Search" value="Search" class="black-text">
            </center>
            </form>
        </div>
        <div class="col-md-2">
        </div>
      </div>

      </div>
  </body>
</html>
