<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting</title>
    <META http-equiv="refresh" content="<%= @">
    Fandango URL:
    <%= @fandangoURL %>
  </head>
  <body>
    results
  </body>
</html>
