<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <title>Results</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container gradient">
      <div class="row header">
        <div class="col-md-12">
          <center><img src="images/dateknight-logo.png" alt="DateKnight" width="80%" /></center>
        </div>
      </div>
      <div class="row body">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <a href="<%= @fandangoURL %>"><img src="images/fandango.png" alt="Fandango" width="90%"/></a>
        </div>
        <div class="col-md-4">
          <a href="<%= @yelpURL %>"><img src="images/yelp.png" alt="Yelp" width="90%"/></a>
        </div>
        <div class="col-md-2" height="100%">
        </div>
      </div>
      <div class="row body bottom">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
        <a href="<%= @happycowURL %>"><img src="images/happycow.png" alt="HappyCow" width="90%"/></a>
        </div>
        <div class="col-md-4">
        <a href="https://www.uber.com/fare-estimate/"><img src="images/uber.png" alt="Uber" width="90%" /></a>
        </div>
        <div class="col-md-2" height="100%">
        </div>
      </div>
    </div>
    <!-- <form action="/yelp" method="post">
      <input type="submit" name="Search" value="Search" class="black-text"> -->
  </body>
</html>
