<!doctype HTML>
<HTML>
<head>
	<title>Message Sent</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body id="background">
	<div id="buffer"></div>
	<h1>Done</h1>
</body>
</HTML>
